---
import { Image } from "@astrojs/image/components";

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

export interface Props {
	content: {
		title: string;
		description: string;
		heroImage: string;
		pubDate: string;
		type: string;
	};
}

const {
	class: className,
	content: { heroImage, title, description, pubDate, type },
	...props
} = Astro.props;
---

<div
	class:list={[
		"md:grid md:grid-cols-5 flex md:flex-row flex-col-reverse justify-between justify-between lg:gap-6 group",
		className,
	]}
	{...props}
>
	<div class="col-span-3">
		<h2
			class="text-2xl md:leading-7 leading-tight font-bold tracking-tight md:mb-2 mb-1 hover:underline decoration-4 decoration-purple-500 hover:text-purple-700"
		>
			{title}
		</h2>
		<p
			class="md:text-base text-md font-medium text-neutral-500 mb-5 leading-snug"
		>
			{description}
		</p>
		<div class="text-xs tracking-wide font-number">
			<span class="font-medium">{pubDate}</span>
			-
			<span
				class="font-bold bg-clip-text text-transparent bg-gradient-to-br from-rose-700 via-violet-600 to-indigo-700"
				>{type}</span
			>
		</div>
	</div>
	<div
		class="col-span-2 rounded-lg mb-4 lg:h-60 md:h-72 h-48 overflow-hidden group-hover:shadow-lg duration-150"
	>
		<Image
			class="group-hover:scale-105 duration-300 h-full object-cover object-center lg:aspect-[1/1] aspect-[16/9]"
			src={heroImage}
			alt="image"
			height={700}
			aspectRatio={16 / 9}
			format={"webp"}
		/>
	</div>
</div>

<style>
	.img-clip {
		background-repeat: no-repeat;
		clip-path: polygon(15% 0, 100% 0, 100% 85%, 85% 100%, 0 100%, 0 15%);
	}
</style>
