---
import { Image } from "@astrojs/image/components";

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

export interface Props {
	content: {
		id: number;
		title: string;
		url: string;
		heroImage: string;
		pubDate: string;
		type: string;
	};
}

const {
	class: className,
	content: { id, heroImage, title, url, pubDate, type },
	...props
} = Astro.props;
---

<div
	class:list={[
		"md:h-64 h-40 grid grid-cols-5 lg:gap-3 gap-2 img-clip bg-neutral-200",
		className,
	]}
	{...props}
>
	<div class="relative col-span-3 flex flex-col md:ml-5 ml-2 justify-between">
		<div
			class="absolute text-stroke font-black font-number lg:text-8xl text-6xl text-transparent opacity-5 mt-1"
		>
			{id < 10 ? "0" + id : id}
		</div>
		<div class="absolute bottom-0">
			<a href={url}>
				<h2
					class="lg:text-2xl text-xl text-neutral-600 md:leading-7 leading-tight font-bold tracking-tight md:mb-2 mb-1 hover:underline decoration-2 decoration-purple-500 hover:text-purple-700"
				>
					{title}
				</h2>
			</a>
			<p
				class="lg:text-sm text-xs font-number mb-2 text-neutral-500 tracking-wide"
			>
				<span class="font-medium">{pubDate}</span>
				-
				<span
					class="font-bold bg-clip-text text-transparent bg-gradient-to-br from-rose-500 via-violet-500 to-indigo-500"
					>{type}</span
				>
			</p>
		</div>
	</div>
	<a href={url} class="col-span-2 overflow-hidden">
		<Image
			class="w-full h-full object-cover object-center aspect-square hover:scale-105 duration-500"
			src={heroImage}
			alt="image"
			height={400}
			aspectRatio={4 / 3}
			format={"webp"}
		/>
	</a>
</div>

<style>
	.img-clip {
		background-repeat: no-repeat;
		clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
	}
	.text-stroke {
		-webkit-text-stroke: 1px #262626;
	}
</style>
