---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Container from "../components/Container.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate: string;
		heroImage: string;
		type: string;
		updatedDate?: string;
	};
}

const {
	content: { title, description, pubDate, heroImage, type },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.img-clip {
				background-repeat: no-repeat;
				clip-path: polygon(
					8% 0,
					100% 0,
					100% 84%,
					92% 100%,
					0 100%,
					0 16%
				);
			}
		</style>
	</head>

	<body>
		<Header />
		<Container>
			<main class="m-auto lg:w-3/4 w-full">
				<article class="md:px-0 px-2">
					<div class="h-max lg:px-10 lg:py-10 py-5">
						<div
							class="font-number justify-between flex items-baseline md:mb-3.5 mb-1.5"
						>
							<span
								class="font-bold text-base bg-clip-text text-transparent bg-gradient-to-br from-rose-700 via-violet-600 to-indigo-700"
								>{type}</span
							>
							<time
								datetime={pubDate}
								class="font-medium text-xs text-neutral-500"
							>
								{
									new Date(pubDate).toLocaleDateString(
										"en-us",
										{
											year: "numeric",
											month: "short",
											day: "numeric",
										}
									)
								}
							</time>
						</div>
						<div class="lg:w-4/5 w-full">
							<h1
								class="font-bold md:text-4xl text-3xl md:mb-3 mb-2"
							>
								{title}
							</h1>
							<p
								class="text-base font-medium text-neutral-500 md:mb-6 mb-4"
							>
								{description}
							</p>
						</div>
						<img
							class="object-cover w-full md:h-96 h-72 img-clip"
							src={heroImage}
							alt="image"
						/>
					</div>
					<hr class="border-neutral-900/10 border" />
					<div
						class="h-max lg:px-10 lg:py-10 py-5 font-normal lg:text-lg text-base lg:leading-7"
					>
						<slot />
					</div>
				</article>
			</main>
		</Container>
		<Footer />
	</body>
</html>
