---
import { Image } from "@astrojs/image/components";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Container from "../components/Container.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate: string;
		heroImage: string;
		type: string;
		updatedDate?: string;
	};
}

const {
	content: { title, description, pubDate, heroImage, type },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header />
		<Container>
			<main class="m-auto lg:w-3/4 w-full">
				<div class="md:px-0 px-2">
					<div class="h-max lg:px-10 lg:py-10 py-5">
						<div
							class="font-number justify-between flex items-center tracking-wide md:mb-3 mb-2"
						>
							<span
								class="font-bold md:text-base text-sm bg-clip-text text-transparent bg-gradient-to-br from-rose-700 via-violet-600 to-indigo-700"
								>{type}</span
							>
							<time
								datetime={pubDate}
								class="font-semibold md:text-sm text-xs text-neutral-500"
							>
								{
									new Date(pubDate).toLocaleDateString(
										"en-us",
										{
											year: "numeric",
											month: "short",
											day: "numeric",
										}
									)
								}
							</time>
						</div>
						<div class="md:w-4/5 w-full">
							<h1
								class="md:text-4xl text-2xl font-bold tracking-tight leading-tight md:mb-4 mb-2"
							>
								{title}
							</h1>
							<p
								class="md:text-xl text-md font-medium text-neutral-500 mb-6 leading-normal"
							>
								{description}
							</p>
						</div>
						<Image
							class="md:rounded-xl rounded-lg md:mb-4 mb-2 w-full object-cover object-center h-auto"
							src={heroImage}
							format={"webp"}
							height={1000}
							aspectRatio={16 / 9}
							alt="banner-hero-img"
						/>
					</div>
					<hr class="divide-neutral-200 divide" />
					<article
						class="min-w-full lg:px-10 lg:py-5 py-5 prose prose-p:tracking-wide prose-p:leading-normal prose-headings:mb-2"
					>
						<slot />
					</article>
				</div>
			</main>
		</Container>
		<Footer />
	</body>
</html>
